.archive-product-section {
    padding-top: 100px; 
    padding-bottom: 100px; 
    .archive-product-title-row {
        padding-bottom: 50px; 
    }
    .woocommerce-ordering, .woocommerce-result-count {
        display: none; 
    }

    ul.products li.product .price {
        color: $text-light-color; 
    }
}

.woocommerce-loop-product__title {
    color: $text-light-color; 
}

.wc-block-grid__product .wc-block-grid__product-title {
    color: $text-light-color; 
    text-decoration: none;
    @extend .h6; 
}

.wc-block-grid__product .wc-block-grid__product-image, .wc-block-grid__product .wc-block-grid__product-link  {
    text-decoration: none;
}

