.wp-block-woocommerce-cart, .wp-block-woocommerce-checkout, .woocommerce-order  {
    @extend .container; 
    @extend .mx-auto; 
}


.wc-block-components-product-name {
    color: $text-light-color; 
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.wc-block-cart .wp-block-woocommerce-cart-order-summary-block, .wc-block-cart__main .wc-block-cart-items  {
    border-bottom-color: $text-light-color!important; 
    div {
        border-color: $text-light-color; 
    } 
}

.wc-block-cart-items__row  {
    border: solid 1px $text-light-color; 
}

.wc-block-cart__main .wc-block-cart-items td {
    border-top: solid 1px $text-light-color!important; 
}


.wc-block-components-sidebar {
    .wp-block-woocommerce-checkout-order-summary-block
     {
        border: 1px solid $text-light-color;
    }
}

.wc-block-components-checkout-place-order-button, .wc-block-cart__submit-button {
    @extend .pw-solid-button; 
}

.wp-block-woocommerce-checkout-order-summary-block {
    .wc-block-components-totals-wrapper, .wp-block-woocommerce-checkout-order-summary-totals-block {
        border-top: 1px solid $text-light-color;
    }
}
