.single-product-section {
    padding-top: 100px; 
    padding-bottom: 100px; 
    .single_add_to_cart_button.button.alt {
        @extend .pw-solid-button; 
        background-color: $color-secondary;
    }

    div.product p.price {
        color: $text-light-color; 
    }
}

.breadcrumbs {
    padding-bottom: 60px; 
}

.woocommerce-breadcrumb {
    display: none;
}

.woocommerce div.product div.summary {
    width: 61%; 
}

.woocommerce div.product div.images {
    width: 35%; 
}

.woocommerce-product-details__short-description {
    width: 80%; 
}

.woocommerce div.product form.cart div.quantity {
    margin-right: 15px; 
}

.woocommerce .quantity .qty {
    height: 48px; 
}