
.accordions-container {
    .accordions-row {
        .accordions-col {
            .single-accordion {
                border-bottom: solid 1px $color-tertiary;
                padding-bottom: 10px;
                margin-bottom: 10px;
                color: inherit;
                overflow: hidden; // keeps content neat

                // Accordion button
                .accordion {
                    width: 100%;
                    display: flex;
                    color: inherit;
                    justify-content: space-between;
                    align-items: center;
                    background: none;
                    border: 0;
                    outline: none;
                    padding: $accordion-padding;
                    font-size: 1rem;
                    text-align: left;
                    cursor: pointer;
                    transition: background-color $accordion-transition;
                    i {
                        transition: all $accordion-transition;
                        font-size: 35px;
                    }

                    &:hover {
                        pointer-events: cursor; 
                        color: $color-tertiary; 
                    }

                    // icon rotation skeleton
                    svg {
                        transition: transform $accordion-transition;
                    }

                    &.is-open {
                        transition: all $accordion-transition;
                        h6 {
                            color: $color-tertiary;  
                        }
                        i {
                            transition: all $accordion-transition;
                            color: $color-tertiary;  
                            transform: rotate(180deg);
                        }
                        svg {
                            transform: rotate(180deg);
                        }
                    }
                }

                // Accordion content
                .accordion-content {
                    max-height: 0;
                    overflow: hidden;
                    padding: 0 $accordion-padding; // horizontal only
                    transition: max-height $accordion-transition, padding $accordion-transition;

                    // when open (via inline JS height)
                    &.is-open {
                    padding: $accordion-padding; // add vertical padding once open
                    }
                }
            }       
        }
    }
}