.events-block-section  {
    .events-container {
        .events-row {
            .events-col {
                .single-event {
                    width: 70%; 
                    margin: auto; 
                    @include media-breakpoint-down(sm) {
                        padding-bottom: 30px; 
                        text-align: center;
                    }
                    .single-event-image-wrapper {
                        padding-bottom: 25px; 
                    }
                    .single-event-title-container {
                    }
                }
            }
        }
    }

}