.site-footer {
    border-top: solid 2px $color-primary; 
    padding-top: $footer-padding; 
    padding-bottom: $footer-padding; 
    background-color: $footer-background-color; 
    color: $footer-color; 
    .site-footer-content-container {
        .site-footer-content-row {
            padding-bottom: 40px;
            border-bottom: solid 1px $color-primary; 
            .footer-logo-wrapper {
                max-width: 100px; 
                @include media-breakpoint-down(sm) {
                    text-align: center;
                    padding-bottom: 20px; 
                    max-width: 200px;
                    margin: auto;
                }
            }

            .logo-note-wrapper {

                padding-top: 20px; 
                font-style: italic;
                font-size: 16px;
                @include media-breakpoint-down(sm) {
                    padding-bottom: 20px; 
                }
                p {
                    margin-bottom: 0; 
                }
            }

            .footer-main-menu-col  {
                @include media-breakpoint-down(sm) {
                    padding-bottom: 20px; 
                }
                nav {
                    @import './partials/social-list'; 
                    ul {
                        &.social-list {
                            padding-top: 25px; 
                            li {
                                padding-bottom: 0; 
                                margin-bottom: 0; 
                            }
                        }
                        li {
                            padding-bottom: 25px; 
                            &:last-child {
                                padding-bottom: 0; 
                            }
                        }
                    }
                }
            }
        
        }

        .site-copyright-content-row {
            padding-top: 40px;
            font-size: 14px; 
            .copyright-wrapper {
                @include media-breakpoint-down(sm) {
                    padding-bottom: 20px; 
                }
            }
        }
    }
}