.event-archive-hero-section {
    background-color: $color-tertiary; 
    color: $color-secondary; 
    padding-top: 60px; 
    padding-bottom: 60px; 
}

.event-archive-content-section {
    padding-top: 100px; 
    padding-bottom: 100px; 
    .event-posts-container {
        .event-posts-row {
            .event-posts-col {
                padding-bottom: 30px; 
                &:last-child {
                    padding-bottom: 0; 
                }
                .single-event-tile  {
                    @include media-breakpoint-down(sm) {
                        flex-direction: column;
                        text-align: center; 
                    }
                    align-items: center;
                    @extend .rounded-corners; 
                    border: solid 2px $color-tertiary; 
                    padding: 30px; 
                        .post-meta-content {
                            padding-bottom: 15px; 
                        }
                        .single-event-image-wrapper {
                            width:25%; 
                            img {
                                width: 100%;
                                height: auto;
                                aspect-ratio: 1/1;
                            }
                            @include media-breakpoint-down(sm) {
                                width: 100%; 
                                padding-bottom: 20px; 
                            }
                        }

                        .single-event-button-wrapper {
                            width: 60%; 
                             @include media-breakpoint-down(sm) {
                                width: 100%; 
                            }

                            .pw-solid-button {
                                @include media-breakpoint-down(sm) {
                                    width: 100%; 
                                }

                            }
                            
                    
                        }

                        .post-meta-wrapper {
                            width: 65%; 
                            margin: auto; 
                             @include media-breakpoint-down(sm) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
